.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
  border: 2px solid #61dafb;
  padding: 10px;
  border-radius: 20px;
}

.App-link:hover {
  color: #026433;
  border: 2px solid #026433;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #ccc;
}

.wallet-modal__list__item {
  color: #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding:5px;
  height: 45px;

  /* min-width: 200px; */
}

.wallet-modal__list__item:hover {
  cursor: pointer;
}